.searchbox-container {
    display: flex;
    min-width: 200px;
    max-width: 250px;
    height: 35px;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid;
    border-color: rgb(153, 152, 152);
   
}

.searchicon-container {
    /* width: 15%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 4px;
    
}
.search-inputbox {
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;
    padding-left: 25px;

   
}
.search-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    font-size: 18px;
    color: inherit;
    background-position: -466px -1474px;
    background-image: url(/src/images/oIZS99ARniP.png);
    background-repeat: no-repeat;
    background-size: 641px 1870px;
    height: 16px;
    width: 16px;
}