.card-container {
    display: flex;
    height: 100%;
}

.custom-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding: 0;
   
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-header {
    /* background-color: #7E6EE6 ; */
    background: linear-gradient(90deg,#192a3e -6.11%,#334d6e 117.87%);;
    display: flex;
}
.card-header:first-child {
    /* border-radius: 10px; */
}
.card-nav-item {
    border-radius: 8px;
    margin-right: 8px;
}
.card-nav-item:hover {
    background-color:#F2F2F2 ;
}
.active {
    background-color: #156bff;
    color: white;
    font-weight: bolder;
}
.btn-content{
    color: beige;
    font-weight: inherit;
    font-size: 14px;
}