.main-container {
    overflow: scroll;
    background: linear-gradient(90deg,#c0d3e9 -6.11%,#cce2ff 117.87%);
    display: flex;
    flex-direction: column;
}
.conde-container {
      color: black;
      padding: 12px;
      font-size: 12px;
      overflow: scroll;
}
.code-header-container {
    display: flex;
    flex-direction: row;
    background-color: inherit;
}
.code-refresh-icon {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    width: 50%;
}
.code-info-icon {
    display: flex;
    justify-content: flex-start;
    padding: 12px;
    width: 50%;
}

[class*="language-"] {
	counter-reset: linenumber;
}
span.line{
	display: inline-block;
	width: 100%;
	counter-increment: linenumber;
}
span.line:nth-child(odd){
	background: #f0f0f0;
}
span.line:before{
	content: counter(linenumber);
	font-size: 100%;
	width: 2em;
	display: inline-block;
	font-weight: normal;
	color: black;
	border-right: 1px solid black;
	margin-right: 5px;
	padding-right: 5px;
	text-align: right;
}