
body {
  background: #F2F2F2;
  color: rgba(0,0,0,.85);
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  line-height: 1.9;
}

.app-container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.header-container {
  display: flex;
  background-color: #ffffff;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1),0 1px 1px rgba(0,0,0,.1);
  z-index: 20;
}
.body-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.below-container{
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.left-side-bar-container{
  /* z-index: -10; */
  padding:  12px 12px;
  background-color:#151E29  /* #fff */;
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100vh;
  overflow: scroll;
}
.right-container {
  width: 100%;
  padding: 12px;
  overflow: hidden;
}
.path-container {
  height: 5%;
}
.content-container {
  height:  95%;
}
.footer{
  height: auto;
  text-align: center;
}


